{% extends 'layout.html' %}
{% block content %}
<div class="content">
    {% if tasks %}
    <table>
        <tr>
            <th>Task</th>
            <th>Action</th>
        </tr>
        <tr>
            {% for task in tasks%}
        <tr>
            <td>{{ task.task_content }}</td>
            <td>
                <a href="/update/{{task.task_id}}">Update</a>
                <br>
                <a href="/delete/{{task.task_id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
    <form action="/home" method="post" class="form">
        <input type="text" name="task_content">
        <br>
        <input type="submit" value="Add Task">
    </form>
    {% else %}
    <p>There is no tasks! Add one below</p>
    <form action="/home" method="post" class="form">
        <input type="text" name="task_content">
        <br>
        <input type="submit" value="Add Task">
    </form>
    {% endif %}
</div>
{% endblock content %}